#centros-de-costos{
  text-align: center;
  color: #838A05;
}
#subir-excel-actualizado{
  text-align: center;
  color: #838A05;
}
#novedades{
  text-align: center;
  color: #838A05;
}
#tabla-sugeridos{
  text-align: center;
  color: #838A05;
}
#reporte-novedades{
  text-align: center;
  color: #838A05;
}
#reporte-formularios{
  text-align: center;
  color: #838A05;
}
#sin-reporte{
  text-align: center;
  color: #838A05;
}
#historico{
  text-align: center;
  color: #838A05;
}
#genre-distribucion-de-datos{
  text-align: center;
  color: #838A05;
}
div.css-10trblm e16nr0p30{
  text-align: center;
  color: #838A05;
}
div.data-testid.metric-container{
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
div.block-container.css-12oz5g7.egzxvld2{
    margin-top:-5em;
}
div.block-container.css-128j0gw.egzxvld2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;  
}
div.css-du1fp8.etr89bj2{
    text-align: center;
}

div.css-50ug3q.e16fv1kl3{
    text-align: center;
    background-color:#ececec
}
div.css-12w0qpk.e1tzin5v2{
    background-color: #ececec;
    border: 2px solid #ececec;
    padding: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 10px;
    justify-content: center;
}
div.css-1r6slb0.e1tzin5v2{
    background-color: #ececec;
    border: 2px solid #ececec;
    padding: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 10px;
    justify-content: center;
}
div.css-keje6w.e1tzin5v2{
    background-color: #ececec;
    border: 2px solid #ececec;
    padding: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 10px;
    justify-content: center;
}
div.element-container.css-15qwjnv.e1tzin5v3{
    padding: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 10px;
    justify-content: center    
}